body {
    margin: 0;
    background-color: #FFFFFF;
    overflow-wrap: anywhere;
    font-family: 'Graphik';
}

.app-layout {
    display: flex;
}

.main-content {
    margin-left: 13em;
    flex: 1;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

/* Light */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Light-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-LightItalic-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-LightItalic-Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Regular-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Regular Italic */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-RegularItalic-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Medium-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-MediumItalic-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-MediumItalic-Web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Semibold-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Semibold-Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Semibold Italic */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-SemiboldItalic-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-SemiboldItalic-Web.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Bold-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-BoldItalic-Web.woff2') format('woff2'),
       url('./assets/fonts/Graphik-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
